*{
    box-sizing: border-box;
}

body {
    width: 98vw;
    height: 100vh;
    background-color: #b1ffff;

    display: grid;
    grid-template-rows: .5fr 3fr 3.5fr;
    grid-template-columns: 7fr 1fr;

    font-family: 'Cinzel', 'Times New Roman', Times, serif;
    text-align: center;

    
}

header {
    grid-row: 1;
    grid-column: 1;
    
    display: flex;
    justify-content: center;

    font-size: 30px;
}

h1{ 
    margin: 1% 2% 0 2%;
}

main {
    grid-row: 2;
    grid-column: 1;
    /* border: 2px dashed #000000; */
}

#sidebar {
    grid-row: 1 /span 2;
    grid-column: 2;
    /* border: 2px dashed #000000; */

    display: flex;
    flex-direction: column;
    justify-content: center;

    font-size: 24px;
    line-height: .9;
}
.side-list{
    border: 4px double #000000;
}
.side-list h3 {
    margin: 6% 0 0 0;
}

.modal {
    display: none;
    position: fixed;
    transform: translate3d(30%, 20%, 0);
    height: 70%;
    width: 60%;
    background-color: #ffffff;
    border: 6px double #000000;
    box-shadow: 6px 6px 10px #303030;

    color: #000000;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 2;
}
.modal h1 {
    font-size: 50px;
}
.modal h3 {
    font-size: 24px;
    text-align: center;
    width: 90%;
}

#start-game-modal {
    
    display: flex;
}

.setup-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#player-form {
    display: none;
}
#word-form {
    display: none;
}

#board {
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    
}

#board-grid {
    height: 40%;
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;

}

.letter-blank {
    height: 80%;
    width: 8%;
    margin: 0 1%;
    border-bottom: 2px solid #000000;

    font-size: 90px;
    text-transform: uppercase;
    

}

#guess-form {
    height: 20%;
}
#guess-form input {
    width: 10%;
    margin-top: 1%;
    font-size: 14px;
}

#keyboard {
    height: 30%;
}

.row {
    display: flex;
    justify-content: center;
}

.letter {
    width: 3%;
    line-height: 1.5;
    text-transform: uppercase;
    margin: .25% .25%;
    border: 2px solid #000000;
    cursor: pointer;

}

#incorrect-guess-list {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    
}

#incorrect-guess-list li {
    font-size: 24px;
    text-transform: uppercase;
    margin: 1% 3%;
}

footer {
    grid-row: 3;
    grid-column: 1 / span 2;
    /* border: 2px dashed #000000; */

    /* background-image: url(/images/pompeii-start.png); */
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;

    display: flex;
    justify-content: center;
    position: relative;
}

#volcano {
    width: 50%;
    height: 100%;
    background-image: url(images/volcano.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: bottom;
    z-index: 2;
}
#lava-container {
    width: 60%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transform: translate(18%, 10%);
    z-index: 1;
    position: absolute;
    float: left;
    
}

#lava {
    width: 30%;
    height: 90%;
    float: bottom left;
    transition-property: width;
    transition-duration: 2000ms; 

}
#smoke-container {
    width: 30%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transform: translate(-100%, -76%);
    z-index: -1;
    position: absolute;    
}
#smoke {
    width: 1%;
    margin: 0 auto;
    /* position: relative; */
    transition-property: width;
    transition-duration: 2000ms;
}



#pompeii {
    width: 50%;
    background-image: url(images/pompeii-before.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: right;
}



button {
    border: 5px double #000000;
    box-shadow: 3px 3px 8px #303030;
    background-color: #ffffff;
    margin: 3% auto;
    font-size: 30px;
    padding: 2%;
}
button:active {
    box-shadow: 1px 1px 5px #303030;
}
button:focus{
    outline: none;
}


#word-form {
    display: none;
    justify-content: center;
    align-items: center;
    margin: 3%;
}

input { 
    background-color: #ffffff;
    border: 4px double #000000;

    font-family: inherit;
    margin: 1% 2%;
    font-size: 24px;
}
input:focus {
    outline: none;
}
input[type=text]{
    line-height: 1.5;
    width: 29%;
}
input[type=submit] {
    box-shadow: 2px 2px 5px #303030;
}
input[type=submit]:active {
    box-shadow: 1px 1px 3px #303030;
}



.end-message {
    text-transform: uppercase;
}